/*******************/
/* GENERAL STYLING */
/*******************/

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}



/**********************/
/* STYLING THE HEADER */
/**********************/

 header {
   height: 69px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid seashell;
   position: fixed;
   z-index: 5;
   background-color: black;
 }

.logo-img {
  height: 50px;
  padding-left: 10px;
}

a {
  color: seashell;
  padding: 0.8em;
}


/*************************/
/* STYLING THE MAIN PART */
/*************************/

main {
  padding-top: 69px;
}

.our-mission {
  background: url("../images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.our-mission-header {
  width: 100%;
  background-color: black;
}

div.our-mission-header h2, div.our-mission-header h4 {
  margin: 0;
  padding: 10px;
}

.tea-of-the-month {
  width: 1000px;
  margin: 0 auto;
}

.tea-of-the-month-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.tea-div {
  padding: 15px;
}

.tea-img {
  height: 200px;
  width: 300px;
}

div.tea-div h4 {
  margin-top: 10px;
}

.locations {
  background: url("../images/img-locations-background.jpg");
  background-size: cover;
  height: 550px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.location-address-container {
  display: flex;
  justify-content: center;
}

.location-address {
  width: 300px;
  background-color: black;
  margin: 0 20px;
  opacity: 1;
}

.locations h3, .locations p {
  padding: 10px;
}

.locations h2 {
  margin-top: 55px;
  margin-bottom: 15px;
}


/**********************/
/* STYLING THE FOOTER */
/**********************/

.contact-info {
  height: 200px;
}

.left {
  text-align: left;
}

h5 {
  margin: 30px;
}
